* {box-sizing: border-box;}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
}
h2 {
    width: 95%;
    color: #434344;
    margin: 25px auto;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 10px 10px #aba8a8;
    border: none;
}
.row {
    margin: initial;
}
#cal {
    width: 95%;
    margin: auto;
    padding: 0 2px 2px 2px;
    box-shadow: 0 0 10px #333;
    border-radius: 23px 23px 0 0;
    background-color: #434344;
}
#display {
    width: 100%;
    height: 144px;
    font: 2em Dosis;
    text-align: right;
    padding: 20px;
    border: none;
    border-radius: 23px 23px 0 0;
    background-color: #434344;
    color: #fff;
}
button {
    width: 24%;
    margin: 2px auto;
    cursor: pointer;
    font: 2em Dosis;
    color: #fff;
    background-color: #717172;
    border: none;
    transition: 0.5s;
}
#btn {
    width: 24%;
}
.btn1 {
    background-color: #555556;
}
.btn2 {
    background-color: #f5981d;
}
button, #btn, .btn1, .btn2 {
    filter: brightness(0.9);
}
button:hover, #btn:hover, .btn1:hover, .btn2:hover {
    filter: brightness(1);
}
@media only screen and (min-width: 768px) {
    h2 {
        max-width: 460px;
    }
    .row {
        margin: 3px;
    }
    #cal {
        max-width: 460px;
        margin: 0 auto 50px auto;
        padding: 0 0 2px 0;
    }
    #display {
        width: 100%;
    }
    button {
        width: 110px;
        padding: 30px 30px;
    }
    #btn {
        width: 224px;
    }
}